project/433.json
[
  {
    "id": "8e6409ae94d87d4a",
    "type": "tab",
    "label": "433",
    "disabled": false,
    "info": "Final Project for ITS8050",
    "env": []
  },
  {
    "id": "0e0d0efcf64a6cc9",
    "type": "ui_button",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "group": "8f6a5c764810567e",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Switch 1 On",
    "tooltip": "",
    "color": "",
    "bgcolor": "blue",
    "className": "",
    "icon": "",
    "payload": "4478259 -p 183 -t 1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 550,
    "y": 80,
    "wires": [["f5d21d39df1eac14"]]
  },
  {
    "id": "4b088d1d6421a552",
    "type": "ui_button",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "group": "8f6a5c764810567e",
    "order": 3,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Switch 1 Off",
    "tooltip": "",
    "color": "",
    "bgcolor": "blue",
    "className": "",
    "icon": "",
    "payload": "4478268 -p 182 -t 1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 530,
    "y": 140,
    "wires": [["f5d21d39df1eac14"]]
  },
  {
    "id": "42104b737453cafb",
    "type": "ui_button",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "group": "8f6a5c764810567e",
    "order": 4,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Switch 2 On",
    "tooltip": "",
    "color": "",
    "bgcolor": "green",
    "className": "",
    "icon": "",
    "payload": "4478403 -p 184 -t 1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 530,
    "y": 220,
    "wires": [["f5d21d39df1eac14"]]
  },
  {
    "id": "b3ddfb965db25e1e",
    "type": "ui_button",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "group": "8f6a5c764810567e",
    "order": 5,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Switch 2 Off",
    "tooltip": "",
    "color": "",
    "bgcolor": "green",
    "className": "",
    "icon": "",
    "payload": "4478412 -p 183 -t 1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 530,
    "y": 280,
    "wires": [["f5d21d39df1eac14"]]
  },
  {
    "id": "e502ceb9d3bdab44",
    "type": "ui_button",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "group": "8f6a5c764810567e",
    "order": 6,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Switch 3 On",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "4478723 -p 183 -t 1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 510,
    "y": 360,
    "wires": [["f5d21d39df1eac14"]]
  },
  {
    "id": "0fecc3e77e63bc51",
    "type": "ui_button",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "group": "8f6a5c764810567e",
    "order": 0,
    "width": 0,
    "height": 0,
    "passthru": true,
    "label": "Switch 3 Off",
    "tooltip": "",
    "color": "",
    "bgcolor": "red",
    "className": "",
    "icon": "",
    "payload": "4478732 -p 183 -t 1",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 510,
    "y": 420,
    "wires": [["f5d21d39df1eac14"]]
  },
  {
    "id": "c62612026d05b2e7",
    "type": "ui_gauge",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "group": "8f6a5c764810567e",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Pi Temp",
    "label": "Celcius",
    "format": "{{value}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "20",
    "seg2": "60",
    "className": "",
    "x": 920,
    "y": 620,
    "wires": []
  },
  {
    "id": "f5d21d39df1eac14",
    "type": "exec",
    "z": "8e6409ae94d87d4a",
    "command": "ssh -i /data/ssh/nodered pi@192.168.0.104 sudo /home/pi/rpi-rf/scripts/rpi-rf_send",
    "addpay": "payload",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "RPI Command",
    "x": 740,
    "y": 340,
    "wires": [["acf8039411d5c876"], [], []]
  },
  {
    "id": "acf8039411d5c876",
    "type": "debug",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 970,
    "y": 280,
    "wires": []
  },
  {
    "id": "6e4f0760f7a70ad4",
    "type": "exec",
    "z": "8e6409ae94d87d4a",
    "command": "ssh -i /data/ssh/nodered pi@192.168.0.104 sudo vcgencmd measure_temp",
    "addpay": "",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "Temp",
    "x": 510,
    "y": 620,
    "wires": [["4199efe116529376"], [], []]
  },
  {
    "id": "2274ac5ac3a90923",
    "type": "inject",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 350,
    "y": 620,
    "wires": [["6e4f0760f7a70ad4"]]
  },
  {
    "id": "4199efe116529376",
    "type": "function",
    "z": "8e6409ae94d87d4a",
    "name": "Extract CPU Temp",
    "func": "const re = /^temp=(.*)'C$/gm;\nmsg.payload = Number(msg.payload.replace(re, '$1'));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 710,
    "y": 620,
    "wires": [["c62612026d05b2e7"]]
  },
  {
    "id": "1b8ae25d8b47f784",
    "type": "switch",
    "z": "8e6409ae94d87d4a",
    "name": "",
    "property": "topic",
    "propertyType": "msg",
    "rules": [
      {
        "t": "eq",
        "v": "project-final__dami_2022-spring-its8050/switch1/on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "project-final__dami_2022-spring-its8050/switch1/off",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "project-final__dami_2022-spring-its8050/switch2/on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "project-final__dami_2022-spring-its8050/switch2/off",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "project-final__dami_2022-spring-its8050/switch3/on",
        "vt": "str"
      },
      {
        "t": "eq",
        "v": "project-final__dami_2022-spring-its8050/switch3/off",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 6,
    "x": 290,
    "y": 340,
    "wires": [
      ["0e0d0efcf64a6cc9"],
      ["4b088d1d6421a552"],
      ["42104b737453cafb"],
      ["b3ddfb965db25e1e"],
      ["e502ceb9d3bdab44"],
      ["0fecc3e77e63bc51"]
    ]
  },
  {
    "id": "5f4c00e0c03756aa",
    "type": "mqtt in",
    "z": "8e6409ae94d87d4a",
    "name": "Local Mqtt",
    "topic": "project-final__dami_2022-spring-its8050/#",
    "qos": "1",
    "datatype": "auto",
    "broker": "7b017578f8fac7d3",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 100,
    "y": 320,
    "wires": [["1b8ae25d8b47f784"]]
  },
  {
    "id": "dfe4ab9d658ae890",
    "type": "mqtt in",
    "z": "8e6409ae94d87d4a",
    "name": "Cloud Mqtt",
    "topic": "project-final__dami_2022-spring-its8050/#",
    "qos": "1",
    "datatype": "auto",
    "broker": "3ca313b8.542abc",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 110,
    "y": 400,
    "wires": [["1b8ae25d8b47f784"]]
  },
  {
    "id": "8f6a5c764810567e",
    "type": "ui_group",
    "name": "",
    "tab": "c433b81a6c1f5bfc",
    "order": 1,
    "disp": true,
    "width": "9",
    "collapse": false,
    "className": ""
  },
  {
    "id": "7b017578f8fac7d3",
    "type": "mqtt-broker",
    "name": "Local Mosquito",
    "broker": "192.168.0.104",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "3ca313b8.542abc",
    "type": "mqtt-broker",
    "name": "HiveMq",
    "broker": "e46e79f818df46e39e7f350a19596331.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": "",
    "clientid": "MQTT_NODE_RED_CLIENT",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "5",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  },
  {
    "id": "c433b81a6c1f5bfc",
    "type": "ui_tab",
    "name": "Home",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false
  }
]
